<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">

		<title>Prueba blog</title>
		<meta name="description" content="Pantalla con todos los posts">
		<meta name="author" content="Joanflo">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		
		<!-- estilos -->
		<link rel="stylesheet" href="../../../assets/css/estilos.css" type="text/css" media="screen">
		<link rel="stylesheet" href="../../../assets/css/jquery-ui.min.css" type="text/css" media="screen">
		<link rel="stylesheet" href="../../../assets/css/jquery-ui.structure.min.css" type="text/css" media="screen">
		<link rel="stylesheet" href="../../../assets/css/jquery-ui.theme.min.css" type="text/css" media="screen">
		
		<!-- javascripts -->
		<script type="text/javascript" src="../../../assets/jquery-ui-1.11.2/jquery-ui.min.js"></script>

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>

	<body>
		<div id="content">
			
			<header class="cabezera">
				<img class="cabezera" src="../../../assets/images/logo.jpg" alt="Logotipo del blog">
				
				<div class="cabezera cabezera1">
					<h1 class="cabezera">Título blog</h1>
					<h2 class="cabezera">Subtítulo blog</h2>
				</div>
				
				<div class="cabezera cabezera2">
					<div class="icono">
						<img class="icono" src="../../../assets/images/key.png" alt="Acceso usuario">
						<p class="icono icono1"><b>username</b></p>
					</div>
					<div class="icono">
						<img class="icono" src="../../../assets/images/smartphone.png" alt="Marca y modelo">
						<p class="icono icono1"><b>marca</b></p>
						<p class="icono icono2">modelo</p>
					</div>
				</div>
			</header>
			
			<div class="barra_separadora">
			</div>
			
			<nav class="opciones">
				<a class="boton_generico boton2" href="#">Crear post</a>
				<a class="boton_generico boton2" href="#">Log in / out</a>
			</nav>
			
			<div id="cos">
				
				<div class="post">
					
					<div class="post_izq">
						<h3 class="post">Título 1</h3>
						<div class="post_contenido">
						</div>
						<p class="post">Lorem ipsum dolor sit amet consectetur adipiscing sit sit amet consectetur adipiscing amet consectetur adipiscing elit, sed do eiusmod tempor...</p>
					</div>
					
					<div class="post_der">
						<div class="icono">
							<img class="icono" src="../../../assets/images/calendar.png" alt="Fecha creación">
							<p class="icono icono1"><b>02 / 11 / 2014</b></p>
						</div>
						<div class="icono">
							<img class="icono" src="../../../assets/images/username.png" alt="Uusario creador">
							<p class="icono icono1"><b>joanflo</b></p>
						</div>
						<a class="boton_generico boton1" href="#">Ver más</a>
					</div>
					
				</div>
				
			</div>

			<div class="barra_separadora">
			</div>

			<footer id="footer_blog">
				<p>Blog desarrollado por Joan G. Florit</p>
			</footer>
		</div>
	</body>
</html>
